body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
  justify-content: space-between;

  
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: -10%;
  padding-bottom: 2%;
  margin-top: 1%;
  margin-bottom: 5%;
  background-color: #0abcb3;
  width: 100%;
  border-radius: 5px;
}

.form-header {
  margin-left: 22%;
  font-size: 35px;
}

.form {
  margin-left: 26%;
  margin-top: -1%;
}

.input {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 180px;
  padding-left: 10px;
  margin-left: 5%;

}

.button {
  padding: 20px;
  margin-left: 1%;
  background-color: #bc5a0a;
  color: white;
}